*{
    padding: 0;
    margin: 0;
}
header{
    margin-top: 5rem;
    transition: 1s;
    height: 20rem;
    nav{
        align-items: center;
        justify-content: center;
        transition: 1s;
        h1{
            margin-bottom: 4rem;
            text-align: center;
            font-weight: 700;
            transition: 1s;
        }
        .maNav{
            justify-content: center;
            align-items: center;
            transition: 1s;
            ul{
                display: flex;
                list-style: none;
                li{
                    display: flex;
                    width: 7rem;
                    justify-content: space-around;
                    margin: 0;
                    a{
                        text-decoration: none;
                    }
                }
            }
            .mode{
                margin-right: 1rem;
                margin-bottom: 1rem;
                padding-left: 1rem;
                .blanc{
                    height: 0.8rem;
                    width: 1rem;
                    border-radius: 5px;
                    background-color: white;
                    cursor: pointer;
                    border: lightgray 2px solid;
    
                }
                .noir{
                    height: 0.8rem;
                    width: 1rem;
                    border-radius: 5px;
                    background-color: black;
                    cursor: pointer;
                    border: lightgray 2px solid;
                }
            }
            .connexion{
                background-color: grey;
                color: white;
                font-size: small;
                height: 1.8rem;
                width: 5.5rem;
                margin-bottom: 1rem;
            }
        }
    }
}