// 1ère Section 
.secShop{
    background-color: #F3F3F3;
    margin-top: -4rem;
    display: flex;
    height: 35rem;
    justify-content: center;
    align-items: center;
    .divShop{
        display: flex;
        width: 80%;
        padding-left: 14rem;
        .secUnGauche{
            display: flex;
            flex-direction: column;
            margin-top: 7rem;
            
            h1{
                color: rgb(238, 71, 71);
                font-size: 3rem;
            }
            img{
                width: 35rem;
            }
            p{
                color: rgb(128, 126, 126);
            }
            button{
                background-color: rgb(238, 71, 71);
                color: white;
                border: none;
                height: 3rem;
                width: 10rem;
                border-radius: 30px;
                font-size: 1rem;
            }
        }
        .imgDroite{
            img{
                width: 28rem;
            }
        }
    }

}

// 2ème Section: Cards Products
.secProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .productHaut{
        display: flex;
        justify-content: space-between;
        width: 98%;
        padding-top: 8vh;
        .livingRoom{
            background-image: url(../img/services/service-1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 33%;
            font-size: large;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            margin: 2vh;
            .ligne{
                width: 40vh;
                height: 2.5px;
                background-color: white;
            }
        }
        .saleItems{
            background-image: url(../img/services/service-2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 33%;
            font-size: large;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            margin: 2vh;
            .ligne{
                width: 40vh;
                height: 2.5px;
                background-color: white;
            }
        }
        .clothes{
            background-image: url(../img/services/slider-3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 33%;
            font-size: large;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            margin: 2vh;
            .ligne{
                width: 40vh;
                height: 2.5px;
                background-color: white;
            }
        }
    }
    h4{
        padding-top: 15vh;
        padding-bottom: 5vh;
        font-weight: bold;
        font-size: 4vh;
    }
    .ligne1{
        display: flex;
        .card1{
            margin: 2.5vh;
            .card:hover{
                width: 100%;
            }
            .card::before{
                content: 'View details';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                width: 50%;
                height: 70px;
                background-color: black;
                color: white;
                transition: 1s;
                z-index: 1;
            }
            .card::after{
                content: 'Add to cart';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                right: 0;
                width: 50%;
                height: 70px;
                background-color: #D80316;
                color: white;
                transition: 0.8s;
                z-index: 1;
            }
            .card:hover::after{
                bottom: 90px;
                visibility: visible;
            }
            .card:hover::before{
                bottom: 90px;
                visibility: visible;
            }
            .card{
                border: none;
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .card-text{
                        color: red;
                        font-weight: bold;
                    }
                }
            }
        }
        .card12{
            margin: 2.5vh;
            .card:hover{
                width: 100%;
            }
            .card::before{
                content: 'View details';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                width: 50%;
                height: 70px;
                background-color: black;
                color: white;
                transition: 1s;
                z-index: 1;
            }
            .card::after{
                content: 'Add to cart';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                right: 0;
                width: 50%;
                height: 70px;
                background-color: #D80316;
                color: white;
                transition: 0.8s;
                z-index: 1;
            }
            .card:hover::after{
                bottom: 90px;
                visibility: visible;
            }
            .card:hover::before{
                bottom: 90px;
                visibility: visible;
            }
            .card{
                border: none;
                .card-body{
                    display: flex;
                    justify-content: center;
                    justify-content: space-around;
                    align-items: center;
                    .sale{
                        background-color: rgb(238, 71, 71);
                        height: 3.5rem;
                        width: 3.5rem;
                        border-radius: 50%;
                        border: none;
                        color: white;
                        cursor: initial;
                    } 
                    .card-text{
                        color: red;
                        font-weight: bold;
                        span{
                            color: grey;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        .card21{
            margin: 2.5vh;
            .card:hover{
                width: 100%;
            }
            .card::before{
                content: 'View details';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                width: 50%;
                height: 70px;
                background-color: black;
                color: white;
                transition: 1s;
                z-index: 1;
            }
            .card::after{
                content: 'Add to cart';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                right: 0;
                width: 50%;
                height: 70px;
                background-color: #D80316;
                color: white;
                transition: 0.8s;
                z-index: 1;
            }
            .card:hover::after{
                bottom: 90px;
                visibility: visible;
            }
            .card:hover::before{
                bottom: 90px;
                visibility: visible;
            }
            .card{
                border: none;
                .card-body{
                    display: flex;
                    justify-content: center;
                    justify-content: space-around;
                    align-items: center;
                    .sale{
                        background-color: rgb(238, 71, 71);
                        height: 3.5rem;
                        width: 3.5rem;
                        border-radius: 50%;
                        border: none;
                        color: white;
                        cursor: initial;
                    }
                    .card-text{
                        color: red;
                        font-weight: bold;
                        span{
                            color: grey;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        .card33{
            margin: 2.5vh;
            .card:hover{
                width: 100%;
            }
            .card::before{
                content: 'View details';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                width: 50%;
                height: 70px;
                background-color: black;
                color: white;
                transition: 1s;
                z-index: 1;
            }
            .card::after{
                content: 'Add to cart';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                right: 0;
                width: 50%;
                height: 70px;
                background-color: #D80316;
                color: white;
                transition: 0.8s;
                z-index: 1;
            };
            .card:hover::after{
                bottom: 90px;
                visibility: visible;
            };
            .card:hover::before{
                bottom: 90px;
                visibility: visible;
            };
            .card{
                border: none;
                img{
                    height: 14.2rem;
                }
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .card-text{
                        color: red;
                        font-weight: bold;
                    }
                }
            }
        }
        .card23{
            margin: 2.5vh;
            .card:hover{
                width: 100%;
            }
            .card::before{
                content: 'View details';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                width: 50%;
                height: 70px;
                background-color: black;
                color: white;
                transition: 1s;
                z-index: 1;
            }
            .card::after{
                content: 'Add to cart';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                visibility: hidden;
                bottom: 0px;
                right: 0;
                width: 50%;
                height: 70px;
                background-color: #D80316;
                color: white;
                transition: 0.8s;
                z-index: 1;
            }
            .card:hover::after{
                bottom: 90px;
                visibility: visible;
            }
            .card:hover::before{
                bottom: 90px;
                visibility: visible;
            }
            .card{
                border: none;
                
                img{
                    height: 13rem;
                }
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .card-text{
                        color: red;
                        font-weight: bold;
                        span{
                            color: grey;
                            text-decoration: line-through; 
                        }
                    }
                }
            }
        }
    }
}

// 3ème section: Discover
.secDiscover{
    background-image: url(../img/cta-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    p{
        font-size: 3rem;
    }
    button{
        background-color: rgb(238, 71, 71);
        color: white;
        border: none;
        margin-top: 1.5rem;
        height: 2.5rem;
        width: 9%;
    }
}

// 4ème section: Caroussel
.secHot{
    padding-top: 10vh;
    h3{
        margin-bottom: 2rem;
    }
    .divCaroussel{
        position: relative;
        overflow-x: hidden;
        width: 65%;
        height: 30rem;
        margin: 0 auto;
        .cardTxt{
            padding-top: 1rem;
            width: 100%;
            .spanP{
                color: grey;
            }
        }
        .sale{
            margin-bottom: 0px;
            font-size: 0.9rem;
            font-weight: 300;
        }
        .img{
            left: 3%;
            top: 20%;
            font-weight: 700;
            width: 21%;
        }
        .img1{
            position: absolute;
            height: 1rem;
            transition: 1s;
        }
        .img2{
            position: absolute;
            height: 1rem;
            transform: translateX(120%);
            transition: 1s;
            .cardTxt{
                padding-top: 0.5rem;
            }
            .btnR{
                width: 4.5rem;
                height: 3.5rem;
                border-radius: 40px;
            }
        }
        .img3{
            position: absolute;
            height: 1rem;
            transform: translateX(240%);
            transition: 1s;
        }
        .img4{
            position: absolute;
            height: 1rem;
            transform: translateX(360%);
            transition: 1s;
            .cardTxt{
                padding-top: 0.5rem;
            }
            .btnR{
                width: 4.5rem;
                height: 3.5rem;
                border-radius: 40px;
            }
        }
        .img5{
            position: absolute;
            height: 1rem;
            transform: translateX(500%);
            transition: 1s;
        }
        .img6{
            position: absolute;
            height: 1rem;
            transform: translateX(620%);
            transition: 1s;
        }
        .img7{
            position: absolute;
            height: 1rem;
            transform: translateX(750%);
            transition: 1s;
        }
        .divIndicators{
            bottom: 5rem;
            width: 200px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .indic{
            height: 1rem;
            width: 1rem;
            border: 1px solid black;
            border-radius: 50%;
            cursor: pointer;
        }
        .myIndic4{
            display: none;
        }
        .myIndic5{
            display: none;
        }
        .myIndic6{
            display: none;
        }
    }
}

// 5ème section: Card Check
.secCheck{
    padding-top: 7rem;
    padding-bottom: 4rem;
    width: 100%;
    .divCheck{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .checkGauche{
            background-color: rgb(235, 231, 231);
            color: black;
            width: 30%;
            display: flex;
            flex-direction: column;
            height: 23rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            i{
                margin-top: 2rem;
                font-size: 2.3rem;
                margin-bottom: 2rem;
            }
            h5{
                margin-bottom: 2.3rem;
            }
            p{
                width: 80%;
                font-size: 1rem;
                color: rgb(110, 109, 109);
                margin-bottom: 2.5rem;
            }
            button{
                background-color: rgb(70, 69, 69);
                color: white;
                height: 2.4rem;
                width: 8rem;
                border-radius: 4px;
            }
            
        }
        .checkCentre{
            background-color: rgb(238, 71, 71);
            color: white;
            width: 30%;
            display: flex;
            flex-direction: column;
            height: 23rem;
            margin: 1rem;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            i{
                margin-top: 2rem;
                font-size: 2.3rem;
                margin-bottom: 2rem;
            }
            h5{
                margin-bottom: 2.3rem;
            }
            p{
                width: 80%;
                font-size: 1rem;
                color: rgb(231, 231, 231);
                margin-bottom: 2.5rem;
            }
            button{
                border-radius: 4px;
                border: none;
                height: 2.4rem;
                width: 8rem;
                border-radius: 4px;
            }

        }
    }
}